body {
  font-family: Opensans, sans-serif;
  color: #2b2b2b;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 400;
}

h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #2b2b2b;
  font-size: 4.5rem;
  line-height: 1.15;
  font-weight: 700;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #003163;
  font-size: 2.25rem;
  line-height: 1.35;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
}

h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 700;
}

h5 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 700;
}

h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 700;
}

p {
  margin-bottom: 0rem;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

blockquote {
  margin-bottom: 0rem;
  padding: 0.75rem 1.25rem;
  border-left: 0.25rem solid #e2e2e2;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  margin-top: 0.25rem;
  text-align: center;
}

textarea:focus,
input:focus {
  outline: none;
}

.global-styles {
  position: fixed;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: block;
}

.margin-tiny {
  margin: 0.125rem;
}

.margin-xxsmall {
  margin: 0.25rem;
}

.margin-xsmall {
  margin: 0.5rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-bottom {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.text-align-center {
  text-align: center;
}

.padding-vertical {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-right: auto;
  margin-left: auto;
}

.search-field-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-field {
  width: 90%;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #c4c4c4 #000 #c4c4c4;
}

.sort-and-filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: #c4c4c4;
  border-radius: 16px;
}

.left-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.right-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.place-name {
  margin-bottom: 0.5rem;
}

.tag-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tag {
  margin-right: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  background-color: #ff7979;
  font-weight: 600;
}

.info-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.distance-wrapper {
  margin-right: 0.75rem;
}

.distance {
  font-size: 2rem;
  font-weight: 600;
}

.meter-km {
  text-align: center;
}

.time {
  font-size: 2rem;
  font-weight: 600;
}

.min-hour {
  text-align: center;
}

.google-maps-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.arrow {
  height: 1rem;
  margin-left: 0.5rem;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 991px) {
  .margin-medium {
    margin: 1.5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .heading-large {
    font-size: 2rem;
  }

  .page-padding {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .margin-bottom {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .tag-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .tag {
    margin-right: 0rem;
    margin-bottom: 0.5rem;
  }

  .google-maps-link {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
@font-face {
  font-family: "Opensans";
  src: url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc354830e0505cf4b473_OpenSans-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Opensans";
  src: url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc3582bc905cea6b4ae2_OpenSans-Bold.ttf")
      format("truetype"),
    url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc353fb692ac9ca3cefc_OpenSans-ExtraBold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Opensans";
  src: url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc35c0ec740c2c8f309e_OpenSans-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Opensans";
  src: url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc353fb692013fa3cefb_OpenSans-BoldItalic.ttf")
      format("truetype"),
    url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc3585a3c91769d77f0e_OpenSans-ExtraBoldItalic.ttf")
      format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Opensans";
  src: url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc350ade2267382e23d6_OpenSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Opensans";
  src: url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc35f650fa7027c727d7_OpenSans-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Opensans";
  src: url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc3512c8a5db6ecfc8b9_OpenSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Opensans";
  src: url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc3538b202336f88bab2_OpenSans-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Opensans";
  src: url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc3675d87057417daa1a_OpenSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Opensans";
  src: url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc3564dc6d18c3346806_OpenSans-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Opensans";
  src: url("https://uploads-ssl.webflow.com/619c13e28d0e8c4e037f0b4a/619cdc353fb692ac9ca3cefc_OpenSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
